.container {
    .main-toolbar {
      .spacer {
        flex: 1 1 auto;
      }
      .toolbar-btn {
        font-size: 16px;
        margin-right:5px;
        cursor: pointer;
      }
    }

    .content {
      .logo {
        margin: 2.5rem;
        text-align: center;
        font-size:24px;
        color: #303E65;
        .mat-icon{
          height:160px !important;
          width:160px !important;
          font-size:160px !important;
        }
      }
    }

    .media-footer {
      position: absolute;
      bottom:0;
      width:100%;

      mat-toolbar {
        background: #303E65;
      }

      mat-toolbar-row {
        color: aliceblue;
      }

      mat-icon {
        color: aliceblue;
      }

      .time-slider {
        width: 100% !important;
        margin-left:20px;
        margin-right:20px;
      }
      .media-action-bar {
        width: 100%;
        padding:2.5rem;
        justify-content: center;
        .mat-icon{
          height:48px !important;
          width:48px !important;
          font-size:48px !important;
        }
      }
    }
  }

.side__element {
  margin: 2em;
  display: flex;
  align-items: center;
  color: #303E65;

  mat-icon {
    margin-right: 0.5em;
  }
}
