<mat-drawer-container style="height: 100%">
  <mat-drawer mode="side" opened>
    <mat-sidenav-container>
      <mat-sidenav-content class="side__element">
        <mat-icon>home</mat-icon>
        Início
      </mat-sidenav-content>
      <mat-sidenav-content class="side__element">
        <mat-icon>search</mat-icon>
        Pesquisa
      </mat-sidenav-content>
      <mat-sidenav-content class="side__element">
        <mat-icon>upgrade</mat-icon>
        Upload
      </mat-sidenav-content>
      <mat-sidenav-content class="side__element">
        <mat-icon>schedule</mat-icon>
        Recentes
      </mat-sidenav-content>
      <mat-sidenav-content class="side__element">
        <mat-icon>favorite</mat-icon>
        Favoritos
      </mat-sidenav-content>
      <mat-sidenav-content class="side__element">
        <mat-icon>folder</mat-icon>
        Local
      </mat-sidenav-content>
    </mat-sidenav-container>
  </mat-drawer>
  <mat-drawer-content>
    <div class="container">
      <div class="content">


        <mat-list color="#303E65">
          <h3 mat-subheader>Músicas</h3>
          <mat-list-item (click)="openFile(file, i)" *ngFor="let file of files; let i = index">
            <mat-icon color="primary" mat-list-icon>music_note</mat-icon>
            <h4 mat-line>{{ file.name }}</h4>
<!--            <h5 mat-line>by {{ file.name }}</h5>-->
            <mat-icon *ngIf="currentFile.index === i && !state?.error" color="#303E65">volume_up</mat-icon>
            <h6 *ngIf="currentFile.index === i && state?.error">ERROR</h6>
            <mat-divider></mat-divider>
          </mat-list-item>
        </mat-list>
      </div>

      <div class="media-footer">
        <mat-toolbar>
          <mat-toolbar-row>
            {{ state?.readableCurrentTime }}
            <mat-slider (input)="onSliderChangeEnd($event)" [disabled]="state?.error || currentFile.index === undefined" [max]="state?.duration" [value]="state?.currentTime" class="time-slider"
                        min="0"
                        step="1"></mat-slider>
            {{ state?.readableDuration }}
          </mat-toolbar-row>

          <mat-toolbar-row class="media-action-bar">
            <button (click)="previous()" [disabled]="isFirstPlaying()" mat-button>
              <mat-icon mat-list-icon>skip_previous</mat-icon>
            </button>

            <button (click)="play()" *ngIf="!state?.playing" [disabled]="state?.error" mat-button>
              <mat-icon mat-list-icon>play_circle_filled</mat-icon>
            </button>

            <button (click)="pause()" *ngIf="state?.playing" mat-button>
              <mat-icon mat-list-icon>pause</mat-icon>
            </button>

            <button (click)="next()" [disabled]="isLastPlaying()" mat-button>
              <mat-icon mat-list-icon>skip_next</mat-icon>
            </button>
          </mat-toolbar-row>
        </mat-toolbar>
      </div>
    </div>
  </mat-drawer-content>
</mat-drawer-container>


